@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translate(-50%, -50%);
    transform: translateY(-2000px) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translateY(30px) translate(-50%, -50%);
    transform: translateY(30px) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translateY(-30px) translate(-50%, -50%);
    transform: translateY(-30px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
    transform: translateY(0) translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translate(-50%, -50%);
    transform: translateY(-2000px) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translateY(30px) translate(-50%, -50%);
    transform: translateY(30px) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translateY(-30px) translate(-50%, -50%);
    transform: translateY(-30px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
    transform: translateY(0) translate(-50%, -50%);
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;

  background-color: #ffffff;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

.button {
  position: relative;
  z-index: 1;
  max-width: 260px;
  min-width: 198px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: center;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  right: 2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  top: 2px;
  bottom: 0;
  height: 40px;
  margin: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.button:active::before {
  top: 2px;
  height: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

.page-header-logo {
  position: absolute;
  top: -21px;
  left: 59px;
  cursor: pointer;
}

.page-header-logo:hover {
  opacity: 0.6;
}

.page-header-logo:active {
  opacity: 0.3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-header {
  padding-left: 60px;
  padding-right: 60px;
}

.page-header-index {
  position: relative;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  width: 100%;
  height: 299px;
}
.page-header-catalog {
  position: relative;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  width: 100%;
  height: 186px;
}

.main-navigation {
  padding-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-search {
  position: relative;
  width: 440px;
  left: 24px;
  top: 10px;
}

.search-label {
  position: absolute;
  top: 8px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-label::before {
  content: "";
  position: absolute;
  top: 30px;
  display: none;
  left: 0;
  width: 400px;
  height: 2px;
  background-color: #000000;
}

.search-label-catalog {
  position: absolute;
  top: 8px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-label-catalog::before {
  content: "";
  position: absolute;
  top: 28px;
  display: none;
  left: 0;
  width: 400px;
  height: 2px;
  background-color: #000000;
}

.search-input {
  position: relative;
  width: 320px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.search-input:focus:-ms-input-placeholder {
  font-size: 0;
}

.search-input:focus::-ms-input-placeholder {
  font-size: 0;
}

.search-input:focus::placeholder {
  font-size: 0;
}

.search-input:focus ~ .search-label::before,
.search-input:focus ~ .search-label-catalog::before {
  display: block;
}

.search-input:focus ~ .search-button {
  z-index: 0;
  opacity: 1;
}

.search-button {
  position: absolute;
  top: -9px;
  left: 330px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: transparent none;
  border: 2px solid #000000;
  cursor: pointer;
  opacity: 0;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.search-button:focus {
  z-index: 0;
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus ~ .search-label::before,
.search-button:focus ~ .search-label-catalog::before {
  display: block;
}

.main-navigation .list {
  list-style: none;
}

.main-navigation .list-item-login {
  position: relative;
  text-align: right;
  padding-right: 238px;
}

.list-item-login:hover,
.header-username:hover,
.list-item-logged:hover::before,
.list-item-compare:hover,
.list-item-checkout:hover {
  opacity: 0.6;
}

.list-item-login:active,
.header-username:active,
.list-item-logged:active::before,
.list-item-compare:active,
.list-item-checkout:active {
  opacity: 0.3;
}

.main-navigation .list-item-login::before {
  position: absolute;
  bottom: 9px;
  left: -26px;
  content: "";
  background: url("../img/user.svg") no-repeat;
  height: 12px;
  width: 13px;
}

.main-navigation .list-item-logged {
  position: relative;
  text-align: right;
  padding-right: 20px;
}

.header-username,
.footer-username {
  padding-right: 20px;
}

.header-logout,
.footer-logout {
  opacity: 0.3;
}

.main-navigation .list-item-logged::before {
  position: absolute;
  bottom: 9px;
  left: -26px;
  content: "";
  background: url("../img/user.svg") no-repeat;
  height: 12px;
  width: 13px;
}

.header-logout {
  padding-right: 85px;
}

.main-navigation .list-item-compare {
  position: relative;
  text-align: right;
  padding-right: 65px;
}
.main-navigation .list-item-compare::before {
  position: absolute;
  bottom: 9px;
  left: -20px;
  content: "";
  background: url("../img/compare.svg") no-repeat;
  height: 10px;
  width: 10px;
}

.main-navigation .list-item-checkout {
  position: relative;
  text-align: right;
}
.main-navigation .list-item-checkout::before {
  position: absolute;
  bottom: 9px;
  left: -23px;
  content: "";
  background: url("../img/cart.svg") no-repeat;
  height: 12px;
  width: 12px;
}


.main-navigation > a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: right;
  color: #000000;
}

.search-input {
  border-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  background: transparent;
}

.secondary-navigation .list {
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: right;
}

.delivery-item {
  padding-right: 38px;
}

.warranty-item {
  padding-right: 114px;
}


.secondary-navigation > li > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: right;
  color: #000000;
  text-transform: uppercase;
}

.main-slider {
  position: relative;
  z-index: 1;
}

.main-slider-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -110px;
  padding-bottom: 97px;
  max-height: 578px;
}

.main-slider-2 {
  padding-bottom: 85px;
}

.main-slider-3 {
  padding-bottom: 114px;
}

.main-slider-image-settings {
  width: 560px;
  margin-right: 40px;
  text-align: center;
}

.main-slider-first-settings img {
  width: 384px;
  height: 486px;
  margin-top: -1px;
  margin-left: 5px;
}

.main-slider-second-settings img {
  width: 345px;
  height: 485px;
  margin-top: 12px;
  margin-left: 16px;
}

.main-slider-third-settings img {
  width: 526px;
  height: 334px;
  margin-top: 65px;
  margin-left: 30px;
}

.main-slider-description {
  position: relative;
  width: 560px;
  padding-top: 78px;
}

.main-slider-description::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.main-slider-description::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 50px;
  z-index: -1;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
}

.main-slider-first-description::after {
  content: "01";
}

.main-slider-second-description::after {
  content: "02";
  right: 52px;
}

.main-slider-third-description::after {
  content: "03";
  right: 53px;
}

.main-slider-description b {
  display: block;
  padding-bottom: 19px;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.main-slider-description p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
  padding: 0;
}

.main-slider-first-description p {
  width: 490px;
}

.main-slider-second-description p,
.main-slider-third-description p {
  width: 460px;
}

.main-slider-description .button {
  width: 220px;
  margin-top: 42px;
  margin-bottom: 46px;
  margin-left: 2px;
  background: none;
  border: none;
}

.main-slider-control-settings {
  position: absolute;
  right: 82px;
  top: 327px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 78px;
}

.main-slider-controls-option {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}

.main-slider-controls-option::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.main-slider-input:focus ~ .main-slider-control-settings label {
  outline: 0;
}

.main-slider-input[id="main-slider-control-1"]:checked ~ .main-slider-control-settings label[for="main-slider-control-1"]::before,
.main-slider-input[id="main-slider-control-2"]:checked ~ .main-slider-control-settings label[for="main-slider-control-2"]::before,
.main-slider-input[id="main-slider-control-3"]:checked ~ .main-slider-control-settings label[for="main-slider-control-3"]::before {
  display: block;
}

.main-slider-input[id="main-slider-control-1"]:checked ~ .main-slider-2,
.main-slider-input[id="main-slider-control-1"]:checked ~ .main-slider-3,
.main-slider-input[id="main-slider-control-2"]:checked ~ .main-slider-1,
.main-slider-input[id="main-slider-control-2"]:checked ~ .main-slider-3,
.main-slider-input[id="main-slider-control-3"]:checked ~ .main-slider-1,
.main-slider-input[id="main-slider-control-3"]:checked ~ .main-slider-2 {
  display: none;
}

.main-slider-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-slider-first-features {
  width: 460px;
}

.main-slider-second-features {
  width: 200px;
}

.main-slider-third-features {
  width: 300px;
}

.main-slider-features-column {
  display: block;
  margin: 0;
  padding-top: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.main-slider-features-info {
  display: block;
  margin: 0;
  padding: 8px 0 0;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.main-slider-first-features-column {
  width: 160px;
}

.main-slider-second-features-column {
  width: 140px;
}

.main-slider-third-features-column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 160px;
}

.main-slider-first-features-info {
  width: 160px;
}

.main-slider-second-features-info {
  width: 140px;
}

.main-slider-third-features-info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 160px;
}

.main-slider-second-features .main-slider-first-features-column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.goods-to-buy-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

.main-goods-content {
  width: 160px;
  height: 160px;
  background-color: rgba(240,197, 46, 0.5);
  position: relative;
}

.main-goods-content:hover,
.selfie-stick:hover {
  background-color: rgba(240,197, 46, 1);
}

.goods-to-buy-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.selfie-stick {
  position: absolute;
  bottom: 2px;
  left: 38px;
}

.goods-to-buy-image:active,
.selfie-stick:active {
  opacity: 0.3;
}

.goods-to-buy-desc {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
  text-align: left;
  width: 160px;
  padding-top: 16px;
}

.selfie-stick-desc {
  width: 95px;
}

.services-section {
  position: relative;
}

.services-section::before {
  content: "";
  position: absolute;
  top: 163px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 163px);
  background-color: #e5e5e5;
}

.secondary-slider-area {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 118px;
}

.services-option {
  position: relative;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 460px;
  margin-left: 120px;
  padding-top: 136px;
}

.deliver-slider::before {
  content: "";
  position: absolute;
  top: 148px;
  right: -234px;
  z-index: 0;
  width: 136px;
  height: 163px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.warranty-slider {
  margin-left: 121px;
}

.warranty-slider::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -253px;
  z-index: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.credit-slider::before {
  content: "";
  position: absolute;
  top: 124px;
  right: -258px;
  z-index: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.credit-slider {
  width: 430px;
}

.services-option h3 {
  margin: 0;
  padding-bottom: 31px;
}

.services-option p {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.02em;
  width: 436px;
}

.slider-values {
  position: relative;

  padding-top: 142px;
  padding-right: 120px;
}

.slider-values::before {
  content: "";
  position: absolute;
  top: 63px;
  right: -4px;
  width: 7px;
  height: calc(100% - 15px);
  background-color: #000000;
}

.slider-value {
  position: relative;
  z-index: 1;
  display: block;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 160px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.slider-value::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}

.slider-value::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 100%;
  z-index: -1;
  width: 0;
  height: 40px;
  background-color: #000000;
}

.slider-value:hover::before {
  top: 2px;
  height: 40px;
  margin: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input:focus ~ .slider-values label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.secondary-slider-input[id="slider-1"]:checked ~ .slider-values label[for="slider-1"],
.secondary-slider-input[id="slider-2"]:checked ~ .slider-values label[for="slider-2"],
.secondary-slider-input[id="slider-3"]:checked ~ .slider-values label[for="slider-3"] {
  color: #f7e184;
}

.secondary-slider-input[id="slider-1"]:checked ~ .slider-values label[for="slider-1"]::before {
  top: 2px;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-1"]:checked ~ .slider-values label[for="slider-1"]::after {
  top: 2px;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-2"]:checked ~ .slider-values label[for="slider-2"]::before {
  top: 2px;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-2"]:checked ~ .slider-values label[for="slider-2"]::after {
  top: 2px;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-3"]:checked ~ .slider-values label[for="slider-3"]::before {
  top: 2px;
  z-index: -1;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-3"]:checked ~ .slider-values label[for="slider-3"]::after {
  top: 2px;
  z-index: -1;
  width: 120px;
  height: 40px;
  margin: 0;
  color: #f7e184;
  background-color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.secondary-slider-input[id="slider-2"]:checked ~ .slider-values label[for="slider-2"]::before,
.secondary-slider-input[id="slider-3"]:checked ~ .slider-values label[for="slider-3"]::before,
.secondary-slider-input[id="slider-1"]:checked ~ .slider-values label[for="slider-1"]::before,
.secondary-slider-input[id="slider-2"]:checked ~ .slider-values label[for="slider-2"]::before,
.secondary-slider-input[id="slider-3"]:checked ~ .slider-values label[for="slider-3"]::before {
  display: block;
}

.secondary-slider-input[id="slider-1"]:checked ~ .warranty-slider,
.secondary-slider-input[id="slider-1"]:checked ~ .credit-slider,
.secondary-slider-input[id="slider-2"]:checked ~ .deliver-slider,
.secondary-slider-input[id="slider-2"]:checked ~ .credit-slider,
.secondary-slider-input[id="slider-3"]:checked ~ .deliver-slider,
.secondary-slider-input[id="slider-3"]:checked ~ .warranty-slider {
  display: none;
}

.services-option h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
}

.brands-area-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.brands-area-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 260px;
  height: 254px;
}

.brands-area-link {
  width: 260px;
  height: 100px;
}

.brand-dji {
  background-image: url("../img/dji-logo.png");
}

.brand-dji:hover,
.brand-dji:focus {
  background-image: url("../img/dji-logo-colored.png");
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.brand-sp {
  background-image: url("../img/sp-logo.png");
}

.brand-sp:hover,
.brand-sp:focus {
  background-image: url("../img/sp-logo-colored.png");
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.brand-gopro {
  background-image: url("../img/gopro-logo.png");
}

.brand-gopro:hover,
.brand-gopro:focus {
  background-image: url("../img/gopro-logo-colored.png");
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.brand-vive {
  background-image: url("../img/vive-logo.png");
}

.brand-vive:hover,
.brand-vive:focus {
  background-image: url("../img/vive-logo-colored.png");
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.catalog-item {
  position: relative;
  padding-left: 0;
}
.catalog-item::after {
  position: absolute;
  top: 3px;
  right: -29px;
  content: "";
  background: url("../img/plus.svg") no-repeat;
  height: 16px;
  width: 16px;
  opacity: 0.3;
}
.catalog-item-list {
  margin-left: 0;
  padding-left: 0;
  padding-right: 300px;
  position: relative;
}

.catalog-link:hover {
  opacity: 0.6;
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:hover + .secondary-navigation-sub-menu {
  display: block;
  z-index: 10;
}

.delivery-item:hover,
.warranty-item:hover,
.contacts-item:hover {
  opacity: 0.6;
}

.delivery-item:active,
.warranty-item:active,
.contacts-item:active {
  opacity: 0.3;
}

.secondary-navigation-sub-menu {
  position: absolute;
  left: -60px;
  display: none;

  width: 1160px;
  padding-top: 26px;
  padding-bottom: 0;
  padding-left: 60px;
  background-color: #f7e296;
  height: 149px;
}

.secondary-navigation-sub-menu:hover {
  display: block;
  z-index: 10;
}

.secondary-navigation-sub-list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 640px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
}

.sec-nav-sub-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

.sec-nav-sub-col:first-child {
  width: 240px;
}

.sec-nav-sub-col a {
  display: block;
  color: #000000;
  text-align: left;
}
.sec-nav-sub-col a:hover {
  opacity: 0.6;
}

.sec-nav-sub-col a:active {
  opacity: 0.3;
}

.filter-goods {
  width: 201px;
  margin: 0;
  padding: 0;
  border: 0 none;
}


.filter-goods legend {
  margin: 0;
  padding-bottom: 29px;
  padding-top: 15px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

.filter-checkbox {
  list-style: none none;
  margin: 0;
  padding: 0 0 26px;
}

.filter-checkbox-options {
  padding-left: 40px;
}

.filter-checkbox-label {
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.01em;
  text-align: left;
}

.filter-checkbox-label::before {
  position: absolute;
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat;
  top: -1px;
  left: -35px;
  height: 27px;
  width: 27px;
}

.filter-checkbox-label::after {
  position: absolute;
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat;
  top: -1px;
  left: -35px;
  height: 27px;
  width: 27px;
}

.filter-checkbox-option:not(:checked) + .filter-checkbox-label::after {
  display: none;
}

.filter-checkbox-option:checked + .filter-checkbox-label::before {
  display: none;
}

.filter-checkbox-label:hover::before,
.filter-checkbox-label:hover::after {
  opacity: 0.6;
}

.filter-radio {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px;
}

.filter-radio-options {
  padding-left: 40px;
}

.filter-radio-label {
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.01em;
  text-align: left;
}

.filter-radio-label::before {
  content: "";
  position: absolute;
  background: url("../img/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -40px;
}

.filter-radio-label::after {
  content: "";
  position: absolute;
  background: url("../img/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -40px;
}

.filter-radio-option:not(:checked) + .filter-radio-label::after {
  display: none;
}

.filter-radio-option:checked + .filter-radio-label::before {
  display: none;
}

.filter-radio-label:hover::before,
.filter-radio-label:hover::after {
  opacity: 0.6;
}

.catalog-goods-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 852px;
  margin: 0;
  padding-top: 69px;
  padding-left: 72px;
}

.goods-item {
  width: 360px;
  margin-right: 40px;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 73px;
}

.catalog-item-information p {
  width: 260px;
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  letter-spacing: 0.01em;
}

.goods-item:nth-child(2) h1 {
  width: 180px;
}

.catalog-item-information a {
  color: #000000;
}

.catalog-goods-price {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;
}

.catalog-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.goods-item:hover .catalog-item-overlay {
  display: block;
}

.catalog-item-add-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.catalog-item-add-to-compare:hover {
  opacity: 1;
}

.catalog-item-add-to-compare:active {
  opacity: 0.2;
}

.goods-item {
  position: relative;
}

.new-item-round-label {
  position: absolute;
  top: 29px;
  right: 27px;

  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-new-item-logo {
  display: block;
}

.catalog-goods-items {
  position: relative;
}

.catalog-content-sidebar-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
}

.sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 328px;
  background-color: #ebebeb;
  padding-bottom: 0;
  margin-bottom:0;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #ebebeb;
}

.goods-sort-section {
  width: 832px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar h2 {
  position: relative;
  width: 328px;
  margin: 0;
  padding: 23px 68px 23px 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: rgba(0,0,0,0.08);
}

.sidebar h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 328px;
  width: 100vw;
  height: 70px;
  background-color: rgba(0,0,0,0.08);
}

.filter {
  width: 270px;
  padding-top: 69px;
  padding-right: 68px;
}

.filter-item-area {
  position: relative;
  padding-left: 0;
}

.filter-item-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filter-item {
  width: 202px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 18px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter-item-price legend {
  padding-bottom: 35px;
}

.filter-setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 32px;
}

.filter-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 5px;
}

.filter-level {
  height: 2px;

  background-color: #dbdbdb;
}

.filter-bar {
  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.filter-control-range {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 2px 1px #dadada;
  box-shadow: 0 2px 1px #dadada;
  border-radius: 50%;
  cursor: pointer;
}

.filter-control-range:active {
  width: 22px;
  height: 22px;
  border: 9px solid #ffffff;
}

.downtomin {
  top: -10px;
  left: -4px;
}

.uptomax {
  top: -10px;
  left: 109px;
}

.filter-level-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}

.filter-label-downtomin {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 18px;
}

.filter-label-uptomax {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.filter-level-input-area {
  width: 50px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;

  background: none;
  border: 0;
}

.goods-sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 832px;
  padding-top: 28px;
  padding-bottom: 18px;
  padding-left: 72px;
}

.goods-sort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.08);
}

.goods-sort h3 {
  margin: 0 55px 0 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.goods-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 519px;
  margin: 0;
  padding: 0 18px 4px 0;

  list-style-type: none;
}

.goods-items-to-sort {
  margin-right: 28px;
}

.goods-items-to-sort a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.goods-items-to-sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.goods-items-to-sort a:active {
  color: rgba(0, 0, 0, 1);
}

.goods-items-do-sort a {
  color: rgba(0, 0, 0, 1);
}

.goods-items-do-sort a:hover {
  color: rgba(0, 0, 0, 1);
}

.goods-sorting-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sort-up-link {
  opacity: 0.2;
}

.sort-up-link:hover,
.sort-down-link:hover {
  opacity: 0.4;
}

.sort-up-link:active,
.sort-down-link:active {
  opacity: 1;
}

.goods-item {
  width: 360px;
  margin-right: 40px;;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.goods-item:nth-child(2) h1 {
  width: 180px;
}

.goods-item {
  position: relative;
}

.goods-page-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 760px;
  margin: -11px 0 77px 71px;
  padding: 0;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.page-sort-not-active {
  display: block;
  width: 134px;
  padding: 24px 30px 22px;
}

.page-sort-activate {
  display: block;
  width: 134px;
  padding: 24px 30px 22px;
  text-align: right;
}

.goods-page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goods-page-item {
  width: 40px;
  text-align: center;
}

.page-sort-setup {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.page-sort-setup:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.page-sort-setup:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.page-sort-setup:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-page-item a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
  opacity: 0.3;
}

.goods-page-item a:hover {
  opacity: 0.6;
}

.goods-page-item a:active {
  opacity: 1;
}

.goods-active-sort a {
  opacity: 1;
}

.goods-active-sort a:hover {
  opacity: 1;
}

.main-information-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 79px;
}

.main-information-area-article {
  position: relative;

  width: 560px;
}

.main-information-area-article::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-information-area-article .button,
.main-information-contacts-area .button {
  width: 260px;
  background: none;
  border: none;
}

.main-information-area-article h3,
.main-information-contacts-area h3 {
  margin: 0;
  padding-bottom: 43px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.main-information-area-description {
  padding-bottom: 36px;
}

.main-information-area-description p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #464646;
}

.main-information-area-description p:first-child {
  width: 460px;
  margin: 0;
  padding-bottom: 30px;
}

.main-information-area-description p:last-child {
  width: 475px;
  margin: 0;
  padding-bottom: 30px;
}

.main-information-delivery-list {
  margin: 0;
  padding: 0 0 52px 36px;
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.main-information-delivery-item {
  position: relative;
}

.main-information-delivery-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -34px;
  width: 8px;
  height: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.main-information-area-article .button {
  margin-left: 3px;
}

.main-information-contacts-area {
  position: relative;
  width: 560px;
}

.main-information-contacts-area::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-information-contacts-area h3 {
  margin-left: -3px;
}

.main-information-contacts-area p {
  margin: 0;
  padding-bottom: 39px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #464646;
}

.main-information-map {
  display: block;
  margin-left: 1px;
}

.main-information-map iframe {
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #565656;
}

.main-information-contacts-area .button {
  margin-top: 63px;
  margin-left: 3px;
}

.page-footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}

.footer-logo-area {
  position: relative;
}

.page-footer-logo {
  position: absolute;
  padding-top: 65px;
}

.page-footer-logo:hover {
  opacity: 0.6;
}

.page-footer-logo:active {
  opacity: 0.3;
}

.footer-navigation-list {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 0;
}

.footer-item-login, .footer-item-logged, .footer-item-compare {
  padding-right: 65px;
}

.footer-item-checkout {
  padding-right: 0;
}

.footer-item-login > a,
.footer-item-logged > a,
.footer-item-compare > a,
.footer-item-checkout > a {
  opacity: 0.7;
}

.footer-item-login > a:hover,
.footer-item-logged > a:hover,
.footer-item-compare > a:hover,
.footer-item-checkout > a:hover {
  opacity: 1;
}
.footer-item-login:hover::before,
.footer-item-logged:hover::before,
.footer-item-compare:hover::before,
.footer-item-checkout:hover::before {
  opacity: 0.7;
}

.footer-item-login:active,
.footer-item-logged:active,
.footer-item-compare:active,
.footer-item-checkout:active {
  opacity: 0.3;
}

.footer-item-login,
.footer-item-logged {
  position: relative;
  text-align: right;
}

.footer-item-login::before,
.footer-item-logged::before {
  position: absolute;
  top: 12px;
  left: -26px;
  content: "";
  background: url("../img/user-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}

.footer-item-compare {
  position: relative;
  text-align: right;
}

.footer-item-compare::before {
  position: absolute;
  top: 13px;
  left: -20px;
  content: "";
  background: url("../img/compare-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}

.footer-item-checkout {
  position: relative;
  text-align: right;
}

.footer-item-checkout::before {
  position: absolute;
  top: 12px;
  left: -23px;
  content: "";
  background: url("../img/cart-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}


.footer-navigation > a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer-misc address,
.footer-misc a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-misc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-misc-actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-misc-actions-link {
  padding-right: 38px;
}

.footer-misc-actions-link:hover {
  opacity: 0.6;
}

.footer-misc-actions-link:active {
  opacity: 0.3;
}

.footer-misc-actions-list > li > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  position: relative;
}

.footer-bottom::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.facebook-icon {
  position: relative;
}

.facebook-icon::before {
  position: absolute;
  content: "";
  background: url("../img/fb.svg") no-repeat;
  width: 32px;
  height: 32px;
  left: -55px;
}

.instagram-icon {
  position: relative;
}

.instagram-icon::before {
  position: absolute;
  content: "";
  background: url("../img/instagram.svg") no-repeat;
  width: 32px;
  height: 32px;
  left: -22px;
}

.twitter-icon {
  position: relative;
}

.twitter-icon::before {
  position: absolute;
  content: "";
  background: url("../img/twitter.svg") no-repeat;
  width: 32px;
  height: 32px;
  left: 9px;
}

.footer-social-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  width: 176px;
  height: 32px;
  top: 49px;
  left: 50%;
}

.footer-social-links > a {
  padding-left: 0;
  padding-right: 23px;
  opacity: 0.3;
}

.footer-social-links > a:hover {
  opacity: 0.6;
}

.footer-social-links > a:active {
  opacity: 0.1;
}

.html-academy-footer-logo:hover {
  opacity: 0.6;
}

.html-academy-footer-logo:active {
  opacity: 0.3;
}


.popup-contact-us {
  position: fixed;
  display: none;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 553px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.popup-contact-us-close,
.popup-map-close {
  height: 60px;
  width: 60px;
  background: url("../img/modal-close.svg") no-repeat;
  border-width: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 11;
}

.popup-contact-us-close:hover,
.popup-map-close:hover {
  opacity: 1;
}

.popup-contact-us-close:active,
.popup-map-close:active {
  opacity: 0.3;
}

.popup-form-set {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 94px 101px 0;
}

.popup-form-set label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-bottom: 13px;
  border-width: 0;
}

.popup-form-set input {
  outline: none;
}

.popup-form-set input[type=text] {
  width: 360px;
  height: 50px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  background-color: #f2f2f2;
  border-width: 0;
  color: rgba(70, 70, 70, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
}


.popup-form-set input[type=text]:hover {
  background-color: #eaeaea;
}

.popup-form-set input[type=text]:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.popup-form input[type="text"]::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.popup-form input[type="text"]:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.popup-form input[type="text"]::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.popup-form input[type="text"]::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.popup-form input[type="text"]::-moz-placeholder {
  vertical-align: center;
  line-height: 3.5;
}

.popup-form input:invalid {
  background-color: #f6dada;
}

.popup-input-text {
  padding-bottom: 36px;
}

.popup-contact-us textarea {
  width: 760px;
  min-height: 156px;
  padding-left: 20px;
  padding-top: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  background-color: rgba(229, 229, 229, 0.5);
  border-width: 0;
  color: rgba(70, 70, 70, 0.4);
  resize: none;
}
.popup-contact-us textarea::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}
.popup-contact-us textarea:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}
.popup-contact-us textarea::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}
.popup-contact-us textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.popup-form-set label {
  display: block;
  margin: 0;
  padding-bottom: 13px;
}

.popup-contact-us-activate {
  display: block;
}

.popup-contact-us-deactivate {
  display: none;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup-contact-setting {
  padding-bottom: 43px;
}

.popup-map {
  position: fixed;
  display: none;
  width: 960px;
  height: 559px;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #565656;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.popup-map-activate {
  display: block;
}

.breadcrumbs-section {
  margin: 0;
  position: relative;
  padding-left: 60px;
  padding-top: 40px;
  min-height: 164px;
}

.breadcrumbs-section h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0;
}

ul.breadcrumbs {
  list-style: none;
  padding-left: 0;
  padding-top: 8px;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li+li:before {
  padding: 15px;
  content: url("../img/nav-arrow.svg");
}

ul.breadcrumbs li a {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

ul.breadcrumbs li a:hover {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}


.catalog-menu-hidden ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-menu-hidden li {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.catalog-menu-hidden-left a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.catalog-menu-hidden-center a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.catalog-menu-hidden-right a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}
