
@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  
  background-color: #ffffff;
}

*, :before, :after {
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

.button {
  position: relative;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: justify;
  color: #000000;

  border: none;
  background: none;
}

.button {
  position: relative;
  z-index: 1;
  max-width: 260px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  right: -1px;
  z-index: -1;
  width: 100%;
  height: 8px;
  margin-top: -5px;
  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  height: 40px;
  margin: 0;
}

.button:active::before {
  top: 0;
  height: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

.page-header-logo {
  position: absolute;
  top: -21px;
  left: 59px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-header {
  padding-left: 60px;
  padding-right: 60px;
}

.page-header-index {
  position: relative;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  width: 100%;
  height: 299px;
}
.page-header-catalog {
  position: relative;
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  width: 100%;
  height: 180px;
}

.main-navigation {
  padding-top: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-area {
  position: relative;
  width: 440px;
  height: auto;
  display: block;
  padding-left: 36px;
  padding-top: 17px;
}

.search-area::before {
  position: absolute;
  content: "";
  left: 0;
  top: 24px;
  height: 16px;
  width: 16px;
  background: url(../img/search.svg) no-repeat;
}


.main-navigation .list {
  list-style: none;
}

.main-navigation .list-item-login {
  position: relative;
  text-align: right;
  padding-right: 238px;
}
.main-navigation .list-item-login::before {
  position: absolute;
  bottom: 9px;
  left: -26px;
  content: "";
  background: url("../img/user.svg") no-repeat;
  height: 12px;
  width: 13px;
}

.main-navigation .list-item-logged {
  position: relative;
  text-align: right;
  padding-right: 20px;
}

.header-username, .footer-username {
  padding-right: 20px;
}

.header-logout, .footer-logout {
  opacity: 0.3;
}

.main-navigation .list-item-logged::before {
  position: absolute;
  bottom: 9px;
  left: -26px;
  content: "";
  background: url("../img/user.svg") no-repeat;
  height: 12px;
  width: 13px;
}

.header-logout {
  padding-right: 85px;
}

.main-navigation .list-item-compare {
  position: relative;
  text-align: right;
  padding-right: 65px;
}
.main-navigation .list-item-compare::before {
  position: absolute;
  bottom: 9px;
  left: -20px;
  content: "";
  background: url("../img/compare.svg") no-repeat;
  height: 10px;
  width: 10px;
}

.main-navigation .list-item-checkout {
  position: relative;
  text-align: right;
}
.main-navigation .list-item-checkout::before {
  position: absolute;
  bottom: 9px;
  left: -23px;
  content: "";
  background: url("../img/cart.svg") no-repeat;
  height: 12px;
  width: 12px;
}


.main-navigation > a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: right;
  color: #000000;
}

.search-input {
  border-width: 0;
  box-sizing: border-box;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  background: transparent;
}

.secondary-navigation {
}

.secondary-navigation .list {
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.delivery-item {
  padding-right: 38px;
}

.warranty-item {
  padding-right: 114px;
}


.secondary-navigation > li > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: right;
  color: #000000;
  text-transform: uppercase;
}


.catalog-item {
  position: relative;
}
.catalog-item::after {
  position: absolute;
  top: 3px;
  right: -29px;
  content: "";
  background: url("../img/plus.svg") no-repeat;
  height: 16px;
  width: 16px;
  opacity: 0.3;
}
.catalog-item-list {
  padding-right: 304px;
  position: relative;
}

.catalog-link:hover {
  opacity: 0.6;
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:hover + .secondary-navigation-sub-menu {
  display: block;
}

.delivery-item:hover, .warranty-item:hover, .contacts-item:hover {
  opacity: 0.6;
}

.delivery-item:active, .warranty-item:active, .contacts-item:active {
  opacity: 0.3;
}

.secondary-navigation-sub-menu {
  position: absolute;
  left: -60px;
  display: none;

  width: 1160px;
  padding-top: 26px;
  padding-bottom: 0;
  padding-left: 60px;
  background-color: #f7e296;
}

.secondary-navigation-sub-menu:hover {
  display: block;
}

.secondary-navigation-sub-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 640px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
}

.sec-nav-sub-col {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
}

.sec-nav-sub-col:first-child {
  width: 240px;
}

.sec-nav-sub-col a {
  display: block;
  color: #000000;
  text-align: left;
}
.sec-nav-sub-col a:hover {
  opacity: 0.6;
}

.sec-nav-sub-col a:active {
  opacity: 0.3;
}
.catalog-main-area {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.catalog-filter-area {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.filter-goods {
  width: 201px;
  margin: 0;
  padding: 0;
  border: 0 none;
}


.filter-goods legend {
  margin: 0;
  padding-bottom: 29px;
  padding-top: 15px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

.filter-checkbox {
  list-style: none none;
  margin: 0;
  padding: 0 0 26px;
}

.filter-checkbox-options {
  padding-left: 40px;
}

.filter-checkbox-label {
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.01em;
  text-align: left;
}

.filter-checkbox-label::before {
  position: absolute;
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat;
  top: -1px;
  left: -35px;
  height: 27px;
  width: 27px;
}

.filter-checkbox-label::after {
  position: absolute;
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat;
  top: -1px;
  left: -35px;
  height: 27px;
  width: 27px;
}

.filter-checkbox-option:not(:checked) + .filter-checkbox-label::after {
  display: none;
}

.catalog-radio-area {
  position: relative;
}

.filter-radio {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px;
}

.filter-radio-options {
  padding-left: 45px;
}

.catalog-radio-area::before {
  content: "";
  position: absolute;
  left: 2px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.catalog-radio-area::after {
  content: "";
  position: absolute;
  top: -291px;
  left: 2px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filter-radio-label {
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.01em;
  text-align: left;
}

.filter-radio-label::before {
  content: "";
  position: absolute;
  background: url("../img/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -40px;
}

.filter-radio-label::after {
  content: "";
  position: absolute;
  background: url("../img/radio-on.svg") no-repeat;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -40px;
}

.filter-radio-option:not(:checked) + .filter-radio-label::after {
  display: none;
}


.catalog-goods-area {
  display: flex;
  flex-wrap: wrap;
  width: 852px;
  margin: 0;
  padding-top: 69px;
  padding-left: 72px;
}

.goods-item {
  width: 360px;
  margin-right: 40px;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-information {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 73px;
}

.catalog-item-information p {
  width: 260px;
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  letter-spacing: 0.01em;
}

.goods-item:nth-child(2) h1 {
  width: 180px;
}

.catalog-item-information a {
  color: #000000;
}

.catalog-goods-price {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;
}

.catalog-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.goods-item:hover .catalog-item-overlay {
  display: block;
}

.catalog-item-overlay .btn {
  width: 200px;
  margin-bottom: 6px;
  margin-left: -11px;
  background: none;
  border: none;
}

.catalog-item-add-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.catalog-item-add-to-compare:hover {
  opacity: 1;
}

.catalog-item-add-to-compare:active {
  opacity: 0.2;
}

.goods-item {
  position: relative;
}

.new-item-round-label {
  position: absolute;
  top: 29px;
  right: 27px;

  display: none;
  box-sizing: border-box;
  width: 60px;
  height: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-new-item-logo {
  display: block;
}

.catalog-goods-items {
  position: relative;
}

.main-section-information {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
}

.about {
  padding-right: 139px;
}

.about h3, .main-contacts h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
}

.about-description p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.delivery-partners-list {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
}

.main-contacts p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.page-footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}

.footer-logo-area {
  position: relative;
}

.page-footer-logo {
  position: absolute;
  padding-top: 65px;
}

.footer-navigation-list {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-item-login, .footer-item-logged, .footer-item-compare {
  padding-right: 65px;
 }

.footer-item-checkout {
  padding-right: 0;
}

.footer-item-login, .footer-item-logged {
  position: relative;
  text-align: right;
}

.footer-item-login::before, .footer-item-logged::before {
  position: absolute;
  top: 12px;
  left: -26px;
  content: "";
  background: url("../img/user-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}

.footer-item-compare {
  position: relative;
  text-align: right;
}

.footer-item-compare::before {
  position: absolute;
  top: 13px;
  left: -20px;
  content: "";
  background: url("../img/compare-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}

.footer-item-checkout {
  position: relative;
  text-align: right;
}

.footer-item-checkout::before {
  position: absolute;
  top: 12px;
  left: -23px;
  content: "";
  background: url("../img/cart-yellow.svg") no-repeat;
  height: 12px;
  width: 12px;
}


.footer-navigation > a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer-misc address, .footer-misc a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-misc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-misc-actions-list {
  display: flex;
  justify-content: space-between;
}

.footer-misc-actions-link {
  padding-right: 38px;
}

.footer-misc-actions-list > li > a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}

.footer-yellow-line {

  width: 80px;
  color: #ffc600;
  border-top: 7px solid #ffc600;
  margin: 1em 0;
  padding: 0;
}

.footer-social-links > a {
  padding-right: 23px;
  opacity: 0.3;
}

.html-academy-footer-logo {

}


.popup-contact-us {
  display: none;
  width: 960px;
  height: 553px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.popup-contact-us-close {
  width: 55px;
  height: 55px;
  background: url('../img/modal-close.svg') no-repeat;
  justify-content: end;
}

.popup-form-set {
  margin: 0;
}
.popup-form-set label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.popup-form-set input[type=text] {
  width: 360px;
  height: 50px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  background-color: rgba(229, 229, 229, 0.5);
  border-width: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-input-text input[type=text] {
  width: 760px;
  height: 156px;
}

.popup-form-set label {
  display: inline-block;
}


.popup-map {
  display: none;
}

.breadcrumbs-section {
  padding-top: -30px;
}

.breadcrumbs-section h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  padding-left: 60px;
}

ul.breadcrumbs {
  padding: 30px 60px;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li+li:before {
  padding: 15px;
  content: url("../img/nav-arrow.svg");
}

ul.breadcrumbs li a {
  text-decoration: none;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

ul.breadcrumbs li a:hover {
  text-decoration: none;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}


.catalog-container-hidden {
  display: flex;
}

.catalog-menu-hidden ul {
  display: flex;
  flex-direction: column;
}

.catalog-menu-hidden li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.catalog-menu-hidden-left a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: start;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.catalog-menu-hidden-center a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.catalog-menu-hidden-right a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: end;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}




.items-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
  display: flex;
  flex-wrap: wrap;
}

.items-desc {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  display: inline-flex;
}

.username-footer {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer-navigation .list-item > .footer-user-login > .user-logout-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
}
